:root {
  --btn-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.startBtn {
  font-size: 18px;
  font-weight: 700;
  padding: 16px 60px;
  background-color: #6ee7b7;
  border: none;
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  color: black;
}

.startBtn:hover {
  background-color: #10b982;
  color: white;
}
